* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    width: 1158px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
}

.address-list {
    padding: 0;
    margin-left: 332px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.footer-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.corrent {
    position: relative;
}

.nav-link.corrent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.address-email:focus,
.address-email:hover,
.nav-link.corrent {
    color: #404bbf;
}

address {
    font-style: normal;
}

.address-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-f {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    padding: 188px 0;
    margin: 0 auto;
}

.main-hf {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.main-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.main-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    
}

.main-button:focus,
.main-button:hover {
    background-color: #404bbf;
}

.section-t {
    padding: 120px 0;
}

.section-t-hth {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-t-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.section-t-li {
    width: calc((100% - 3 * 24px) / 4);
}

.section-t-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.section-t-icon {
}
.section-t-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-th {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.section-th-ht {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.section-th-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.section-th-li {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.section-th-img {
    
    background-color: #ffffff;
    width: 264px;
    height: 260px;
}

.section-th-div {
    padding: 32px 0;

}

.section-th-hth {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-th-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.section-th-ul-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.icon-conatainer {
    display: flex;
    width: 40px;
    height: 40px;
}
.icon-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.icon-link:hover,.icon-link:focus {
    background-color: #404bbf;
}

.section-th-icon {
    fill:#F4F4FD;
}

.section-t-li,
.section-th-li,
.section-fr-li {
    background-color: #ffffff;
}

.section-fr {
    padding: 120px 0;
}

.section-fr-ht {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-fr-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.section-fr-li {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.position-ovrlay{
    position: relative;
    overflow: hidden;

}
.ovrlay-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
}

.position-ovrlay:hover .ovrlay-text{
    transform: translateY(0%);
}

.section-fr-div {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-top: none;
}

.section-fr-hth {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: start;
    margin-bottom: 8px;
}

.section-fr-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    flex-direction: row;
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.footer-text {
    width: 264px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-logo-div{
    margin-right: 120PX;

}

.footer-h{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-social-icon{
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
    background-color: #31d0aa;
}